@font-face{
    font-family: sf-pro-display-bold;
    src: url(sf-pro-display/SFPRODISPLAYBOLD.OTF);
}

@font-face{
    font-family: sf-pro-display-regular;
    src: url(sf-pro-display/SFPRODISPLAYREGULAR.OTF);
}

body{
    margin: 0%;
    padding: 0%;
    background-color: #f5f5f7;
}

.logo{
    font-family: sf-pro-display-bold;
    font-size: 20px ;
}

li a{
    text-decoration: none;
    color: black;
    
}

li{
    list-style: none;
    font-family: sf-pro-display-regular;
    display: inline-block;
}

lu{
    display: flex;
    gap: 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.619);
    backdrop-filter: blur(5px);
}


.dowloadnav{
    height: 22px;
    width: 85px;
    border-radius: 10px;
    border: none;
    background-color: #0071e3;
    color: white;
}

header{
    margin: 0%;
    padding: 0%;
    width: 100%;
    position: fixed;
}



/* NavBar------------------------------------------- */

.logoimg{
    width: 124px;
    height: 124px;
    margin-top: 100px;
}

.imgdiv{
    display: flex;
    justify-content: center;
}

.heroh1{
    font-size: 39px;
    font-family: sf-pro-display-bold;
    color: #5412f6;
    text-align: center;
}

.heroAbout{
    font-family: sf-pro-display-regular;
    color: rgba(87, 87, 87, 0.81);
    font-size: 23px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
    width: 900px;
}

.downloadhero{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 35px;
   width: 150px;
   background-color: #0071e3;
    color: white;
    border: none;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}

.fortext{
    font-family: sf-pro-display-regular;
    color: rgba(46, 46, 46, 0.735);
    font-size: 15px;
    text-align: center; 
}

.CTA{
    height: 600px;
    width: auto;
   
}

.imgdiv2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* How section ---------------------------*/

.white-background{
    background-color: rgba(255, 255, 255, 0.165);
    height: 1000px;
}

.whiteh1{
    font-family: sf-pro-display-bold;
    font-size: 39px;
    color: #000000;
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    padding-top: 50px;
}

.colorblue{
    color: #5412f6;
}

.whitep999{
    font-family: sf-pro-display-regular;
    color: rgba(87, 87, 87, 0.81);
    font-size: 23px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
}

.whitep999div{
    margin-bottom: 100px;
}




/* <!-- Bento Section  ------> */


.containerA {
    display: grid;
    grid-template-rows:  25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px ;
    grid-template-columns: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px ;
  }

  .bentoback1A{
    grid-row-start: 1;
    grid-row-end: 33;
    grid-column-start: 2;
    grid-column-end: -23;
    background-color: white;
    border-radius: 15px;
    padding-top: 10px;
  }

  .img01{
    height: 570px;
    width: auto;

  }

  .containerAh3{
    font-family: sf-pro-display-bold;
    margin-left: 30px;
    
  }

  .containerAP{
    font-family: sf-pro-display-regular;
    margin-left: 30px;
  }

  .imgdisplayFF{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bentoCC{
    text-align: center;
    font-family: sf-pro-display-regular;
    color: #000000a1;
  }

  .img02{
    height: 275px;
    width: auto;
    
  }

  .bentoback1B{
    grid-row-start: 1;
    grid-row-end: -43;
    grid-column-start: 57;
    grid-column-end: -22;
    background-color: white;
    border-radius: 15px;
    padding-top: 10px;
  }

  .containerBh3{
    margin-left: 30px;
    font-family: sf-pro-display-bold;
  }

.containerBP{
    font-family: sf-pro-display-regular;
    margin-left: 30px;
}

